#weather {
    margin-top: 1rem;
    margin-left: 1rem;
    font-weight: bold;
}

.weatherFont {
    font-size: 2rem;
}

.jokeDiv {
    width: 45%;
    padding: 10px;
    z-index: 1;
    color: white;
}

.background-layer {
    position: absolute;
    /* width: 50%;*/
}

.top-right,
.bottom-left {
    width: 20%;
}

.wrapDiv {
    height: 100%;
    width: 100%;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#marcador {
    width: 50%;
    border: 3px solid blueviolet;
    padding: 10px;
}

#buttonsScore {
    display: none;
}

#btn1,
#btn2,
#btn3 {
    font-size: 1.875rem;
}

#nextJokebtn {
    background-color: #edc951;
    border: solid 2px #41403E;
    align-self: center;
    transition: all .5s ease;
    color: #41403E;
    font-size: 1rem;
    letter-spacing: 1px;
    outline: none;
    box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
    border-radius: 404px 255px 189px 297px/231px 241px 260px 222px;
}

#enunciat {
    font-size: 2rem;
}

@media (max-width: 576px) {
    .jokeDiv {
        width: 100%;
        -webkit-transform: scale(0.67);
        -moz-transform: scale(0.67);
        transform: scale(0.67);
    }
    .background-layer {
        width: 100% !important;
    }
    .top-right,
    .bottom-left {
        display: none;
    }
}

@media (min-width: 576px) {
    .jokeDiv {
        width: 75%;
        -webkit-transform: scale(0.80);
        -moz-transform: scale(0.80);
        transform: scale(0.80);
        font-size: 0.75rem;
    }
    .background-layer {
        width: 70%;
    }
}

@media (min-width: 768px) {
    .jokeDiv {
        font-size: 1.1rem;
    }
}

@media (max-width: 768px) {
    .background-layer {
        width: 90%;
    }
}

@media (min-width: 992px) {
    .jokeDiv {
        width: 60%;
        -webkit-transform: scale(0.80);
        -moz-transform: scale(0.80);
        transform: scale(0.80);
    }
    .background-layer {
        width: 62%;
    }
}

@media (min-width: 1200px) {
    .jokeDiv {
        width: 45%;
    }
    .background-layer {
        width: 50%;
    }
}